.readText {   
    font-size: 1rem;
    
  }
  
  .ArticleRead {
    border: 1px solid black;  
    height: 5.875rem;
    width: 5.875rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  .readText a:visited {
    
    color: initial;
  }
  .ToHome {  
    text-align: left;  
    margin-top: 2.5rem;
    font-size: 1rem;
    
    
  }

  .ToHome .toHomeText 
  {
    margin-left: 0.5rem;

  }