#root {
  max-width: 1280px;
  text-align: center;
  margin: 0 auto;
}

.Header img {
  width: 318px;
  height: 58px;
  margin-top: 31px;
}

.Nav {
  margin: 39px 80px 0px;
  display: flex;
  justify-content: center;
  position: relative;  
}

.Nav img {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
}

ul {
  list-style-type: none;
  display: flex;
  font-size: 23px;
}
li {
  margin: 0 17px;
}

li a {
  display: block;

  text-align: center;

  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #f0f;
}

.line {
  margin-top: 42px;
  border: 1px solid black;
}

.contentWrapper {
  margin: 0 80px;
}

.subHeader {
  margin-top: 40px;  
}

.subHeaderWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.subHeaderWrapper .DateTime{
  display: flex;
  justify-content: center;
  align-items: center;
}

.textWrapper {
  float: left;
  padding: 4px 8px;
  margin: 0 8px;
  border-radius: 32px;
  background-color: yellow;
  font-style: italic;
}
.textWrapper:first-child {
  margin-left: 0;
}
.articleDate {
  float: right;
  margin-right: 24px;
}

.timeText {
  float: right;
  margin-left: 4px;
}

.ArticlePre {
  margin-top: 28px;
  background-color: aqua;
}

.articleTitle {
  font-size: 2.5rem;
  margin-right: 217px;
  background-color: orange;
  text-align: left;
}

.articleTitletextItalic{
  font-style: italic;
}

.articleTitletextBold
{
  font-weight: bold;
}